{% extends 'base.html.twig' %}

{% block title %}Bibliothèque{% endblock %}

{% block body %}

	{% block h1 %}
		<h1>Bibliothèque</h1>
	{% endblock %}

	{% block main %}
		<h2>Liste des livres</h2>

		<ul>
			{% for book in books %}
    			<li><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a> par {{ book.author.fullname }}</li>
			{% endfor %}
		</ul>

		<a href="{{ url('add_book') }}">Ajouter un livre</a>
	{% endblock %}
{% endblock %}
